<style>
  h1{
    text-align: center;
  }
  ul {
    margin: 0 auto;
    text-align: center;
  }
  li {
    display: inline-block;
    vertical-align: top;
    margin: 4px;
  }
</style>

<h1>Top Trending Artists</h1>
<ul>
  <% @response.each do |artists| %>
  <li>
    <%= image_tag('https://api.napster.com/imageserver/v2/artists/'+ artists['id'] + '/images/356x237.jpg') %>
    <% @name = artists["name"] %>
    <% @art_id = artists["id"] %>
    <h1><%= link_to @name, artist_info_display_path(:art_id => @art_id, :name => @name), class:"btn btn-outline-dark" %></h1>
    <% end %>
  </li>
</ul>