<div id="<%= dom_id song %>">
  <p>
    <strong>Song title:</strong>
    <%= song.song_title %>
  </p>

  <p>
    <strong>Album title:</strong>
    <%= song.album_title %>
  </p>

  <p>
    <strong>Artist name:</strong>
    <%= song.artist_name %>
  </p>

</div>
